.am-topbar {
    position: relative;
    min-height: 140px;
    background: #17509d;
    color: #666;
}.am-topbar:before, .am-topbar:after {
    content: " ";
    display: table;
}
.am-offcanvas {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1090;
}
.am-offcanvas.am-active {
  display: block;
}
/**
 * .@{ns}offcanvas-page
 *
 * Prepares the whole HTML page to slide-out
 * 1. Fix the main page and disallow scrolling
 * 2. Side-out transition
 */
.am-offcanvas-page {
  position: fixed;
  /* 1 */
  -webkit-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
  /* 2 */
}
/* Sub-object .@{ns}offcanvas-bar */
.am-offcanvas-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1091;
  width: 512px;
  max-width: 100%;
  background: #fff;
  overflow-y: auto;
  /* scrollable */
  -webkit-overflow-scrolling: touch;
  /* scrollable */
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
-webkit-box-shadow: -4px 0 14px rgba(23, 80, 157, 0.6);
   box-shadow: -4px 0 14px rgba(23, 80, 157, 0.6);
}
.am-offcanvas-bar:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0px;

}
.am-offcanvas.am-active .am-offcanvas-bar.am-offcanvas-bar-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
/* .@{ns}offcanvas-bar-flip */
.am-offcanvas-bar-flip {
  left: auto;
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.am-offcanvas-bar-flip:after {
  right: auto;
  left: 0;
}
.am-offcanvas-content {
  padding: 15px;
  color: #999;
}
.am-offcanvas-content a {
  color: #ccc;
}
/* ==========================================================================
   Component: Popover Plugin
 ============================================================================ */
.am-popover {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 0;
  background: #333333;
  color: #fff;
  border: 1px solid #333333;
  display: none;
  font-size: 1.6rem;
  z-index: 1150;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}
.am-popover.am-active {
  display: block !important;
  opacity: 1;
}
.am-popover-inner {
  position: relative;
  background: #333333;
  padding: 8px;
  z-index: 110;
}
.am-popover-caret {
  position: absolute;
  top: 0;
  z-index: 100;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 8px solid #333333;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 0 dotted;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  overflow: hidden;
}
.am-popover-top .am-popover-caret {
  top: auto;
  bottom: -8px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.am-popover-bottom .am-popover-caret {
  top: -8px;
}
.am-popover-top .am-popover-caret,
.am-popover-bottom .am-popover-caret {
  left: 50%;
  margin-left: -8px;
}
.am-popover-left .am-popover-caret {
  top: auto;
  left: auto;
  right: -12px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.am-popover-right .am-popover-caret {
  right: auto;
  left: -12px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.am-popover-left .am-popover-caret,
.am-popover-right .am-popover-caret {
  top: 50%;
  margin-top: -4px;
}
.am-popover-sm {
  font-size: 1.4rem;
}
.am-popover-sm .am-popover-inner {
  padding: 5px;
}
.am-popover-lg {
  font-size: 1.8rem;
}
.am-popover-primary {
  border-color: #0e90d2;
}
.am-popover-primary .am-popover-inner {
  background: #0e90d2;
}
.am-popover-primary .am-popover-caret {
  border-bottom-color: #0e90d2;
}
.am-popover-secondary {
  border-color: #3bb4f2;
}
.am-popover-secondary .am-popover-inner {
  background: #3bb4f2;
}
.am-popover-secondary .am-popover-caret {
  border-bottom-color: #3bb4f2;
}
.am-popover-success {
  border-color: #5eb95e;
}
.am-popover-success .am-popover-inner {
  background: #5eb95e;
}
.am-popover-success .am-popover-caret {
  border-bottom-color: #5eb95e;
}
.am-popover-warning {
  border-color: #F37B1D;
}
.am-popover-warning .am-popover-inner {
  background: #F37B1D;
}
.am-popover-warning .am-popover-caret {
  border-bottom-color: #F37B1D;
}
.am-popover-danger {
  border-color: #dd514c;
}
.am-popover-danger .am-popover-inner {
  background: #dd514c;
}
.am-popover-danger .am-popover-caret {
  border-bottom-color: #dd514c;
}.am-menu-offcanvas1 .am-menu-toggle {
  position: absolute;
  right: 5px;
  top: -47px;
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
}
.am-menu-offcanvas1 .am-menu-nav {

}
.am-menu-offcanvas1 .am-menu-nav > li > a {
  height: 58px;
  line-height: 58px;
  text-indent: 60px;
  font-size:18px;
  padding: 0;
  position: relative;
  color: #333;
  border-bottom: 1px solid #cacaca;
}
.am-menu-offcanvas1 .am-menu-nav > .am-open > a,
.am-menu-offcanvas1 .am-menu-nav > li > a:hover,
.am-menu-offcanvas1 .am-menu-nav > li > a:focus {
  color: #17509d;
  outline: none;
}
.am-menu-offcanvas1 .am-menu-nav > .am-active > a {
  color: #17509d;
}
.am-menu-offcanvas1 .am-menu-nav > .am-parent > a {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.am-menu-offcanvas1 .am-menu-nav > .am-parent > a:after {
  content: "\f105";
  position: absolute;
  right: 1.5rem;
  top: 1.3rem;
}
.am-menu-offcanvas1 .am-menu-nav > .am-parent.am-open > a:after {
  content: "\f107";
}
.am-menu-offcanvas1 .am-menu-sub {
  padding: 20px 0 20px 20px;
  background-color: #17509d;
  font-size: 1.4rem;
}
.am-menu-offcanvas1 .am-menu-sub a {
  color: #eee;
}
.am-menu-offcanvas1 .am-menu-sub a:hover {
  color: #fff;
}
.am-menu-offcanvas1 .am-nav-divider {
  border-top: 1px solid #1a1a1a;
}
/**
  * Menu Theme: offcanvas2
  * Author: Minwe (minwe@yunshipei.com)
  */
.am-menu-offcanvas2 .am-menu-toggle {
  position: absolute;
  right: 5px;
  top: -47px;
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
}
.am-menu-offcanvas2 .am-menu-nav {
  padding: 10px 5px;
}
.am-menu-offcanvas2 .am-menu-nav > li {
  padding: 5px;
}
.am-menu-offcanvas2 .am-menu-nav > li > a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #404040;
  color: #ccc;
  display: block;
  word-wrap: normal;
  /* for IE */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  height: 44px;
  line-height: 44px;
  padding: 0;
  text-align: center;
}
.am-menu-offcanvas2 .am-menu-nav > li > a:hover,
.am-menu-offcanvas2 .am-menu-nav > li > a:focus {
  background-color: #262626;
  color: #fff;
  outline: none;
}
.am-menu-offcanvas2 .am-menu-nav > .am-active > a {
  background-color: #262626;
  color: #fff;
}
/**
  * Menu Theme: stack
  * Author: Minwe (minwe@yunshipei.com)
  */
.am-menu-stack .am-menu-nav {
  border-bottom: 1px solid #dedede;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
}
.am-menu-stack .am-menu-nav > .am-parent > a {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.am-menu-stack .am-menu-nav > .am-parent > a:after {
  content: "\f105";
  position: absolute;
  right: 1.5rem;
  top: 1.3rem;
  -webkit-transition: all .15s;
  transition: all .15s;
}
.am-menu-stack .am-menu-nav > .am-parent.am-open > a:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.am-menu-stack .am-menu-nav > li > a {
  position: relative;
  color: #333;
  background-color: #f5f5f5;
  border-top: 1px solid #dedede;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  height: 49px;
  line-height: 49px;
  text-indent: 10px;
  padding: 0;
}
.am-menu-stack .am-menu-nav > .am-open > a,
.am-menu-stack .am-menu-nav > li > a:hover,
.am-menu-stack .am-menu-nav > li > a:focus {
  background-color: #e5e5e5;
  color: #222;
  outline: none;
}
.am-menu-stack .am-menu-sub {
  padding: 0;
  font-size: 1.4rem;
  border-top: 1px solid #dedede;
}
.am-menu-stack .am-menu-sub a {
  border-bottom: 1px solid #dedede;
  padding-left: 2rem;
  color: #444;
}
.am-menu-stack .am-menu-sub a:hover {
  color: #333;
}
.am-menu-stack .am-menu-sub li:last-child a {
  border-bottom: none;
}
.am-menu-stack .am-menu-sub > li > a {
  height: 44px;
  line-height: 44px;
  text-indent: 15px;
  padding: 0;
}
@media only screen and (min-width:641px) {
  .am-menu-stack .am-menu-nav {
    background-color: #f5f5f5;
  }
  .am-menu-stack .am-menu-nav > li {
    float: left;
    width: auto;
    clear: none !important;
    display: inline-block;
  }
  .am-menu-stack .am-menu-nav > li a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .am-menu-stack .am-menu-nav > li.am-parent > a:after {
    position: static;
    content: "\f107";
  }
  .am-menu-stack .am-menu-nav > li.am-parent.am-open a {
    border-bottom: none;
  }
  .am-menu-stack .am-menu-nav > li.am-parent.am-open a:after {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  .am-menu-stack .am-menu-nav > li.am-parent.am-open .am-menu-sub {
    background-color: #e5e5e5;
  }
  .am-menu-stack .am-menu-sub {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #ddd;
    border-top: none;
  }
  .am-menu-stack .am-menu-sub li {
    width: auto;
    float: left;
    clear: none;
  }
}
.am-navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 49px;
  line-height: 49px;
  z-index: 1010;
}
.am-navbar ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
.am-navbar .am-navbar-nav {
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  overflow: hidden;
}
.am-navbar .am-navbar-nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.am-navbar-nav {
  position: relative;
  z-index: 1015;
}
.am-navbar-nav a {
  display: inline-block;
  width: 100%;
  height: 49px;
  line-height: 20px;
}
.am-navbar-nav a img {
  display: block;
  vertical-align: middle;
  height: 24px;
  width: 24px;
  margin: 4px auto 0;
}
.am-navbar-nav a [class*="am-icon"] {
  width: 24px;
  height: 24px;
  margin: 4px auto 0;
  display: block;
  line-height: 24px;
}
.am-navbar-nav a [class*="am-icon"]:before {
  font-size: 22px;
  vertical-align: middle;
}
.am-navbar-nav a .am-navbar-label {
  padding-top: 2px;
  line-height: 1;
  font-size: 12px;
  display: block;
  word-wrap: normal;
  /* for IE */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.am-navbar-more [class*="am-icon-"] {
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.am-navbar-more.am-active [class*="am-icon-"] {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}
.am-navbar-actions {
  position: absolute;
  bottom: 49px;
  right: 0;
  left: 0;
  z-index: 1009;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
}
.am-navbar-actions.am-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.am-navbar-actions li {
  line-height: 42px;
  position: relative;
}
.am-navbar-actions li a {
  display: block;
  width: 100%;
  height: 40px;
  -webkit-box-shadow: inset 0 1px rgba(220, 220, 220, 0.25);
          box-shadow: inset 0 1px rgba(220, 220, 220, 0.25);
  padding-left: 20px;
  padding-right: 36px;
}
.am-navbar-actions li a :after {
  font-family: "FontAwesome", sans-serif;
  content: "\f105";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 20px;
}
.am-navbar-actions li a img {
  vertical-align: middle;
  height: 20px;
  width: 20px;
  display: inline;
}.am-menu-offcanvas1 .am-menu-sub a {
    color: #eee;
}
amazeui.css:12261
.am-menu-nav a {
    display: block;
    padding: 1.2rem 0;
    -webkit-transition: all 0.45s;
    transition: all 0.45s;
}
amazeui.css:3113
.am-topbar a {
    color: #fff;
}