@charset "gb2312";
/**/

 @media only screen and (max-width: 640px) {
header { width: 100%; overflow: hidden }
.Tday { width: 100%;  height: auto; }
.search, .wxwb { display: none }
.longmenu { display: none }
.logo { width: 80% }
.logo img { width: 50%; height: auto;  }
#solid { height: 143px; }
#solid ul li img { width: 100%; height: 143px; max-width: 100% }
#contentContainer { top: 200px }
#indexContent { width: 100%; margin: auto; background: #FFFFFF; border: none; overflow: hidden; }
#indexNews {
    margin: 20px 10px;
}
.indexNewsList { background: url(../images/nli.jpg) no-repeat top; width: 100%; margin-top: 20px }
.indexNewsList li { overflow: hidden }
.jtinfo { width: 90%; margin: auto; float: none; }
.jtinfo ul { background: url(../images/jtpic.jpg) center 20px no-repeat #f2f2f2; height: auto; margin: 10px 0 }
.jtinfo ul li { margin-left: 10px; padding: 200px 10px 0 0; }
.indexNewsPics { width: 100%; position: relative; overflow: hidden; }
#playBox { width: 100%;height: 130px;  }
#playBox .oUlplay li img { width:270px;height:auto; margin: auto; display: block }
.tzz { width: 90%; margin: auto; float: none; display: block; }
.tv { width: 90%; margin: auto; float: none; }
.tv ul img { margin: auto }
.yw { margin-right: 0px; float: left; margin-left: 20px }
.newspic { width: 90%; }
#boxpic { margin: 20px auto }
.bigUl li img { width: 100% }
.shzr { width: 90%; }
.yw { width: 90%; }
footer { width: 100%; overflow: hidden }
.cfooter { width: 90%; }
.wxgz { float: none; margin-left: 10px; display: block }
.wxgz h2 { display: none; }
.contact { margin-bottom: 20px }
.bq span { display: block; margin: 5px 0 }
.contact ul li span { display: block; padding-left: 76px }
.contact ul li { width: 100%; height: auto }
.contact ul li:nth-child(2){display:none}
.pageNav {
    text-align: center;

}
#pageRightContent, #pageContents { width: 100%; }
.pageLeftMenu h2 { display: none }
.pageLeftMenu ul { background: none }
#pageContents { overflow: hidden }
.pageLeftMenu { margin: auto; width: 100% }
#pageRightContent { background: none }
.newsDetailBlock img { max-width: 100% }
.lpzs { width: 90%; margin: 0px;background: none; }
.dctext { width: 100%; margin-top: 20px; padding-left:30%;  }
.dcimg { padding-left: 30%; }
.dcimg img {
    height: auto;
    width: 100%;
}
.dctext ul { height: 80px; overflow: hidden }
.showbanner { width: 100%; height: auto }
.showbanner img { max-width: 100% }
.showcontent { width: 100%; }
.showpageNav { margin: 20px 0; font-size: 14px; }
.showabout { height: auto;
    overflow: hidden;
    background: #F7F7F7;
    padding-bottom: 30px; width: 100%; }
.sjt li { width: 100%; overflow: hidden; height: auto; margin: 10px 0 }
.sjt li img { width: 70%; margin: auto; max-width: 100%; }
.sjt li img:hover { -webkit-transform: none; -moz-transform: none; -o-transform: none; -ms-transform: none; }
.showtitle { width: 100%; margin: 10px auto; background: url(../images/show/01/tbg.jpg) no-repeat center; }
.ductbox{ height:auto; overflow:hidden}
.ductbox:nth-child(1) {
  
    background: url(../images/l1.jpg) no-repeat left top;   
}

.ductbox:nth-child(2) {
    
    background: url(../images/l2.jpg) no-repeat left top; 
}

.ductbox:nth-child(3) {
  
    background: url(../images/l3.jpg) no-repeat left top; 
}

.ductbox:nth-child(4) {
  
    background: url(../images/l4.jpg) no-repeat left top; 
}
.ductbox:nth-child(5) {
  
    background: url(../images/l5.jpg) no-repeat left top; 
}
.ductbox:nth-child(6) {
  
    background: url(../images/l6.jpg) no-repeat left top; 
}
.ductbox:nth-child(7) {
  
    background: url(../images/l7.jpg) no-repeat left top; 
}
.ductbox:nth-child(8) {
  
    background: url(../images/l8.jpg) no-repeat left top; 
}
.ductbox:nth-child(9) {
  
    background: url(../images/l9.jpg) no-repeat left top; 
}

}
 @media only screen and (min-width: 641px) and (max-width: 768px) {
header { width: 100%; overflow: hidden }
.longmenu { display: none }
.Tday { width: 100%; }
.search, .wxwb { display: none }
#solid { height: 200px; }
#solid ul li img { width: 100%; height: 200px; max-width: 100%; }
#contentContainer { top: 280px; }
.longmenu { }
#outer { width: 100%; margin: auto; }
#tab { overflow: hidden; zoom: 1; background: url(../images/nline.jpg) no-repeat left; }
#tab li { width: 12.5%; }
#content { width: 100% }
.ppln { width: 10px; }
.cpyfw { width: 20px; }
.xwzx { width: 20px; }
.rlzy { width: 20px; }
.indexNewsPics { width: 100%; position: relative; overflow: hidden; }
#playBox { width: 100%; }
#playBox .oUlplay li img { height: 260px; margin: auto; display: block }
#indexContent { width: 90%; margin: auto; background: #FFFFFF; border: #E5E5E5 1px solid; overflow: hidden; }
.indexNewsList { background: url(../images/nli.jpg) no-repeat top; width: 100%; margin-top: 20px }
.indexNewsList li { overflow: hidden }
.jtinfo { width: 90%; }
.tzz { width: 45%; }
.tv { width: 45%; }
.tv ul img { margin: auto }
.yw { width: 100%; margin-right: 0px; float: left; margin-left: 20px }
.bigUl li img { width: 100% }
.shzr { width: 45%; float: right }
.newspic { width: 40%; }
footer { width: 100%; overflow: hidden }
.cfooter { width: 90%; }
.wxgz { float: none; margin-left: 10px; display: block }
.wxgz h2 { text-align: left; }
.contact { margin-bottom: 20px }
.bq span { display: block; margin: 5px 0 }
footer { width: 100%; overflow: hidden }
.cfooter { width: 90%; }
#pageRightContent, #pageContents { width: 100%; }
.pageLeftMenu h2 { display: none }
.pageLeftMenu ul { background: none }
#pageContents { overflow: hidden }
.pageLeftMenu { margin: auto; width: 100% }
#pageRightContent { background: none }
.newsDetailBlock img { max-width: 100% }
.lpzs { width: 90%; background: url(../images/lpzsbg.jpg) no-repeat left top; margin: 0px; }
.dctext { width: 100%; margin-top: 20px; padding-left: 140px; font-family: "微软雅黑"; }
.dcimg { }
.dcimg img { height: 100px; width: auto; }
.dctext ul { overflow: hidden }
.sjt { overflow: hidden }
.sjt li { width: 30%; overflow: hidden; height: auto; margin: 10px; float: left }
.sjt li img { width: 100%; margin: auto; max-width: 100%; }
.sjt li img:hover { -webkit-transform: none; -moz-transform: none; -o-transform: none; -ms-transform: none; }
.showtitle { width: 100%; text-align: left; padding-left: 40px }
.showbanner { width: 100%; height: auto }
.showbanner img { max-width: 100% }
.showcontent, .showabout { width: 100%; }
}
 @media only screen and (min-width: 769px) and (max-width: 961px) {
.longmenu { display: none }
.Tday { width: 100%; }
.search, .wxwb { display: none }
.search { display: none }
#solid { height: 200px; }
#solid ul li img { width: 100%; height: 200px; max-width: 100%; }
#contentContainer { top: 280px; }
.longmenu { }
#outer { width: 100%; margin: auto; }
#tab { overflow: hidden; zoom: 1; background: url(../images/nline.jpg) no-repeat left; }
#tab li { width: 12.5%; }
#content { width: 100% }
.ppln { width: 10px; }
.cpyfw { width: 20px; }
.xwzx { width: 20px; }
.rlzy { width: 20px; }
.indexNewsPics { width: 50%; position: relative; overflow: hidden; }
#playBox { width: 100%; }
#playBox .oUlplay li img { height: 260px; margin: auto; display: block }
#indexContent { width: 90%; margin: auto; background: #FFFFFF; border: #E5E5E5 1px solid; overflow: hidden; }
.indexNewsList { width: 48%; }
.indexNewsList li { overflow: hidden }
.jtinfo { width: 90%; }
.tzz { width: 45%; }
.tv { width: 45%; }
.tv ul img { margin: auto }
.yw { width: 100%; margin-right: 0px; float: left; margin-left: 20px }
.bigUl li img { width: 100% }
.shzr { width: 50%; float: right }
.newspic { width: 30%; }
footer { width: 100%; overflow: hidden }
.cfooter { width: 90%; }
.wxgz h2 { text-align: left; }
.contact { margin-bottom: 20px }
.bq span { display: block; margin: 5px 0 }
footer { width: 100%; overflow: hidden }
.cfooter { width: 90%; }
#pageContents { width: 100%; }
#pageRightContent { width: 70%; }
.pageLeftMenu { width: 20%; }
.newsDetailBlock img { max-width: 100% }
.lpzs { width: 90%; background: url(../images/lpzsbg.jpg) no-repeat left top; margin: 0 0 0 20px; }
.dctext { width: 100%; margin-top: 20px; padding-left: 140px; }
.dcimg { }
.dcimg img { height: 100px; width: auto; }
.dctext ul { overflow: hidden }
.sjt { overflow: hidden }
.sjt li { width: 30%; overflow: hidden; height: auto; margin: 10px; float: left }
.sjt li img { width: 100%; margin: auto; max-width: 100%; }
.sjt li img:hover { -webkit-transform: none; -moz-transform: none; -o-transform: none; -ms-transform: none; }
.showtitle { width: 100%; text-align: left; padding-left: 40px }
.showbanner { width: 100%; height: auto }
.showbanner img { max-width: 100% }
.showcontent, .showabout { width: 100%; }
}
