<HTML>
<HEAD>
<TITLE>滑轮列表显示(js+css)</TITLE>
<META http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
BODY {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; COLOR: black; LINE-HEIGHT: 150%; PADDING-TOP: 10px; BACKGROUND-COLOR: white; TEXT-ALIGN: center}

.dis {DISPLAY: block}
.undis {DISPLAY: none}
/**/
#cntR {WIDTH: 302px}
#NewsTop {CLEAR: both; MARGIN-BOTTOM: 16px}
#NewsTop P {FLOAT: left; LINE-HEIGHT: 21px}

#NewsTop P.topTit {FONT-WEIGHT: bold; WIDTH: 117px}
#NewsTop P.topC0 {BACKGROUND: #dcdcdc; BORDER-LEFT: #f2f2f2 1px solid; WIDTH: 40px; CURSOR: pointer}
#NewsTop P.topC1 {BACKGROUND: #c2130e; BORDER-LEFT: #f2f2f2 1px solid; WIDTH: 40px; COLOR: #fff}

#NewsTop #NewsTop_tit {	
BORDER-BOTTOM: #c2130e 5px solid; HEIGHT: 33px
}
#NewsTop #NewsTop_cnt {
PADDING-LEFT: 32px; LINE-HEIGHT: 26px; PADDING-TOP: 7px; HEIGHT: 260px; TEXT-ALIGN: left
}

#NewsTop #NewsTop_cnt A {COLOR: #666; TEXT-DECORATION: none}
#NewsTop #NewsTop_cnt A:hover {COLOR: #c2130e; TEXT-DECORATION: underline}
</style>


<script>
 
 function init(){
	 var tab=document.getElementById("NewsTop_tit").getElementsByTagName("p");
	 var sp=document.getElementById("NewsTop_cnt").getElementsByTagName("span");
	 var old=1;
	 
	 
	 for(var i=1;i<tab.length;i++){
	 	tab[i].className="topC0";
	 	tab[i].value=i;
	 	tab[i].onmousemove=function(){
	 		change(this.value);
	 	};
	 	sp[i].className="undis";
	 }
	 
	tab[1].className="topC1";
	sp[1].className="dis";
	 
	 
	function change(n){
 		tab[old].className="topC0";
	 	sp[old].className="undis";
 		old=n;
	 	tab[n].className="topC1";
	 	sp[n].className="dis";
	 }
 }

 




</script>




</HEAD>
<BODY onLoad="init()">
<DIV id=cntR>
  <DIV id=NewsTop>
  
    <DIV id=NewsTop_tit>
      <P class=topTit>网页特效</P>
      <P class=topC0 >JS特效</P>
      <P class=topC0>导航</P>
      <P class=topC0>时间</P>
      <P class=topC0>鼠标</P>
    </DIV>
    
    <DIV id=NewsTop_cnt>
    
    <SPAN title="Don't delete me"></SPAN>
    
	<SPAN>
		<a href="http://www.putaojiayuan.com/effect/20101107/56.html" title="文章标题：禁用页面鼠标左右键
发布时间：2010-11-07 04:11:45
浏览次数：1 次" target="_blank">禁用页面鼠标左右键</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/55.html" title="文章标题：鼠标单击处崩出数字字母星星
发布时间：2010-11-07 03:11:26
浏览次数：2 次" target="_blank">鼠标单击处崩出数字字母星星</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/52.html" title="文章标题：手动调节背景的红绿蓝颜色值
发布时间：2010-11-07 11:11:00
浏览次数：2 次" target="_blank">手动调节背景的红绿蓝颜色值</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/49.html" title="文章标题：JS控制图标更换网页背景代码
发布时间：2010-11-07 11:11:39
浏览次数：3 次" target="_blank">JS控制图标更换网页背景代码</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/48.html" title="文章标题：一个精美界面强大功能的JS日历
发布时间：2010-11-07 11:11:03
浏览次数：2 次" target="_blank">一个精美界面强大功能的JS日历...</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/46.html" title="文章标题：退出时显示您在网站停留时间
发布时间：2010-11-07 10:11:04
浏览次数：0 次" target="_blank">退出时显示您在网站停留时间</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/43.html" title="文章标题：年分秒_网站时间显示
发布时间：2010-11-07 10:11:40
浏览次数：1 次" target="_blank">年分秒_网站时间显示</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/38.html" title="文章标题：可关闭的隐藏导航效果
发布时间：2010-11-07 09:11:04
浏览次数：2 次" target="_blank">可关闭的隐藏导航效果</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101106/37.html" title="文章标题：各种层打开效果,可关闭
发布时间：2010-11-06 10:11:19
浏览次数：15 次" target="_blank">各种层打开效果,可关闭</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/43.html" title="文章标题：年分秒_网站时间显示
发布时间：2010-11-07 10:11:40
浏览次数：1 次" target="_blank">年分秒_网站时间显示</a><br />
    </SPAN>
    
    
    
    
	<SPAN>
		<a href="http://www.putaojiayuan.com/effect/20101107/46.html" title="文章标题：退出时显示您在网站停留时间
发布时间：2010-11-07 10:11:04
浏览次数：0 次" target="_blank">退出时显示您在网站停留时间</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/43.html" title="文章标题：年分秒_网站时间显示
发布时间：2010-11-07 10:11:40
浏览次数：1 次" target="_blank">年分秒_网站时间显示</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/38.html" title="文章标题：可关闭的隐藏导航效果
发布时间：2010-11-07 09:11:04
浏览次数：2 次" target="_blank">可关闭的隐藏导航效果</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101106/37.html" title="文章标题：各种层打开效果,可关闭
发布时间：2010-11-06 10:11:19
浏览次数：15 次" target="_blank">各种层打开效果,可关闭</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/43.html" title="文章标题：年分秒_网站时间显示
发布时间：2010-11-07 10:11:40
浏览次数：1 次" target="_blank">年分秒_网站时间显示</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/56.html" title="文章标题：禁用页面鼠标左右键
发布时间：2010-11-07 04:11:45
浏览次数：1 次" target="_blank">禁用页面鼠标左右键</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/55.html" title="文章标题：鼠标单击处崩出数字字母星星
发布时间：2010-11-07 03:11:26
浏览次数：2 次" target="_blank">鼠标单击处崩出数字字母星星</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/52.html" title="文章标题：手动调节背景的红绿蓝颜色值
发布时间：2010-11-07 11:11:00
浏览次数：2 次" target="_blank">手动调节背景的红绿蓝颜色值</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/49.html" title="文章标题：JS控制图标更换网页背景代码
发布时间：2010-11-07 11:11:39
浏览次数：3 次" target="_blank">JS控制图标更换网页背景代码</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/48.html" title="文章标题：一个精美界面强大功能的JS日历
发布时间：2010-11-07 11:11:03
浏览次数：2 次" target="_blank">一个精美界面强大功能的JS日历...</a><br />
    </SPAN>   
    
	<SPAN>
		<a href="http://www.putaojiayuan.com/effect/20101107/56.html" title="文章标题：禁用页面鼠标左右键
发布时间：2010-11-07 04:11:45
浏览次数：1 次" target="_blank">禁用页面鼠标左右键</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/55.html" title="文章标题：鼠标单击处崩出数字字母星星
发布时间：2010-11-07 03:11:26
浏览次数：2 次" target="_blank">鼠标单击处崩出数字字母星星</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/52.html" title="文章标题：手动调节背景的红绿蓝颜色值
发布时间：2010-11-07 11:11:00
浏览次数：2 次" target="_blank">手动调节背景的红绿蓝颜色值</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/49.html" title="文章标题：JS控制图标更换网页背景代码
发布时间：2010-11-07 11:11:39
浏览次数：3 次" target="_blank">JS控制图标更换网页背景代码</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/48.html" title="文章标题：一个精美界面强大功能的JS日历
发布时间：2010-11-07 11:11:03
浏览次数：2 次" target="_blank">一个精美界面强大功能的JS日历...</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/46.html" title="文章标题：退出时显示您在网站停留时间
发布时间：2010-11-07 10:11:04
浏览次数：0 次" target="_blank">退出时显示您在网站停留时间</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/43.html" title="文章标题：年分秒_网站时间显示
发布时间：2010-11-07 10:11:40
浏览次数：1 次" target="_blank">年分秒_网站时间显示</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/38.html" title="文章标题：可关闭的隐藏导航效果
发布时间：2010-11-07 09:11:04
浏览次数：2 次" target="_blank">可关闭的隐藏导航效果</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101106/37.html" title="文章标题：各种层打开效果,可关闭
发布时间：2010-11-06 10:11:19
浏览次数：15 次" target="_blank">各种层打开效果,可关闭</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/43.html" title="文章标题：年分秒_网站时间显示
发布时间：2010-11-07 10:11:40
浏览次数：1 次" target="_blank">年分秒_网站时间显示</a><br />
    </SPAN>    
    
	<SPAN>
		<a href="http://www.putaojiayuan.com/effect/20101107/46.html" title="文章标题：退出时显示您在网站停留时间
发布时间：2010-11-07 10:11:04
浏览次数：0 次" target="_blank">退出时显示您在网站停留时间</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/43.html" title="文章标题：年分秒_网站时间显示
发布时间：2010-11-07 10:11:40
浏览次数：1 次" target="_blank">年分秒_网站时间显示</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/38.html" title="文章标题：可关闭的隐藏导航效果
发布时间：2010-11-07 09:11:04
浏览次数：2 次" target="_blank">可关闭的隐藏导航效果</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101106/37.html" title="文章标题：各种层打开效果,可关闭
发布时间：2010-11-06 10:11:19
浏览次数：15 次" target="_blank">各种层打开效果,可关闭</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/43.html" title="文章标题：年分秒_网站时间显示
发布时间：2010-11-07 10:11:40
浏览次数：1 次" target="_blank">年分秒_网站时间显示</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/56.html" title="文章标题：禁用页面鼠标左右键
发布时间：2010-11-07 04:11:45
浏览次数：1 次" target="_blank">禁用页面鼠标左右键</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/55.html" title="文章标题：鼠标单击处崩出数字字母星星
发布时间：2010-11-07 03:11:26
浏览次数：2 次" target="_blank">鼠标单击处崩出数字字母星星</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/52.html" title="文章标题：手动调节背景的红绿蓝颜色值
发布时间：2010-11-07 11:11:00
浏览次数：2 次" target="_blank">手动调节背景的红绿蓝颜色值</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/49.html" title="文章标题：JS控制图标更换网页背景代码
发布时间：2010-11-07 11:11:39
浏览次数：3 次" target="_blank">JS控制图标更换网页背景代码</a><br />
		<a href="http://www.putaojiayuan.com/effect/20101107/48.html" title="文章标题：一个精美界面强大功能的JS日历
发布时间：2010-11-07 11:11:03
浏览次数：2 次" target="_blank">一个精美界面强大功能的JS日历...</a><br />
    </SPAN>
	</DIV>

  </DIV>
</DIV>

</BODY></HTML>