/*公共*/

body {
    font-size: 12px;font-family: verdana, arial, helvetica, sans-serif;width: 60%; padding-left: 25px;

}
a {text-decoration:none}
/*样式一*/
.page{ margin:20px 0 0 0; text-align:center; width:100%;overflow: hidden;}
.page a b {color: #999;}
.page>b,.page a {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 50%;width: 26px;text-align: center;display: inline-block}
.page a {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 50%;width: 26px;text-align: center;display: inline-block}/* 针对ie6 */
.page>b,.page a:hover{background: #333;color: #fff;}
.page a {color: #f33;border: #999 1px solid;}
/* 样式2*/

div.page1 {
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    margin: 7px; padding-top: 2px;
    font-family: "lucida sans unicode", "lucida grande", lucidagrande, "lucida sans", geneva, verdana, sans-serif
}
div.page1 a {
    padding-right: 0.64em; padding-left: 0.64em; padding-bottom: 0.43em; margin: 2px; color: #fff; padding-top: 0.5em; background-color: #ee4e4e; text-decoration: none
}
div.page1 a:hover {
    padding-right: 0.64em; padding-left: 0.64em; padding-bottom: 0.43em; margin: 2px; color: #fff; padding-top: 0.5em; background-color: #de1818
}
div.page1 a:active {
    padding-right: 0.64em; padding-left: 0.64em; padding-bottom: 0.43em; margin: 2px; color: #fff; padding-top: 0.5em; background-color: #de1818
}
div.page1.b {
    padding-right: 0.64em; padding-left: 0.64em; padding-bottom: 0.43em; margin: 2px; color: #6d643c; padding-top: 0.5em; background-color: #f6efcc
}
/*样式3*/
/*CSS sabrosus style pagination*/

DIV.page2 {
    PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
DIV.page2 A {
    BORDER-RIGHT: #9aafe5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9aafe5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #9aafe5 1px solid; COLOR: #2e6ab1; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #9aafe5 1px solid; TEXT-DECORATION: none
}
DIV.page2 A:hover {
    BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
DIV.page2 A:active {
    BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
DIV.page2.b{
    BORDER-RIGHT: navy 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: navy 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: navy 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: navy 1px solid; BACKGROUND-COLOR: #2e6ab1
}
/*样式4*/
.page4{ margin:20px 0 0 0; text-align:center; width:100%;overflow: hidden;}
.page4  a b {color: #fff;}
.page4>b,.page4 a {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 5px;width: 36px;text-align: center;display: inline-block; background:#3c3c3e}
.page4 a {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 5px;width: 36px;text-align: center;display: inline-block; background:#3c3c3e}/* 针对ie6 */
.page4>b,.page4 a:hover{background:#ee8601;color: #fff;}
.page4 a {color: #f33;border: #999 1px solid;}
/*样式5*/
.page5{ margin:20px 0 0 0; text-align:center; width:100%;overflow: hidden;}
.page5  a  {color: #fff;}
.page5>b,.page5 a {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 5px;width: 36px;text-align: center;display: inline-block; background:#fff;box-shadow: inset 1px 1px 1px #ccc;}
.page5 a {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 5px;width: 36px;text-align: center;display: inline-block; background:#fff;box-shadow: inset 1px 1px 1px #ccc;}/* 针对ie6 */
.page5>b,.page5 a:hover{background:#000;color: #fff;}
.page5 a {color: #000;border: #999 1px solid;}

/*样式6*/
.page3{ margin:20px 0 0 0; text-align:center; width:100%;overflow: hidden;}
.page3  b  {color: #fff;padding:2px;}
.page3>b,.page3 a {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 15px 5px 25px 0px;;width: 36px;text-align: center;display: inline-block; background:#32b1ba;box-shadow: inset 1px 1px 1px #fff;}
.page3 a {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 15px 5px 25px 0px;width: 36px;text-align: center;display: inline-block; background:#32b1ba;box-shadow: inset 1px 1px 1px #fff;}/* 针对ie6 */
.page3>b,.page3 a:hover{background:#dddddd;color: #8a8989;}
.page3 a {color: #fff; padding:2px;}