<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta http-equiv="Content-Language" content="zh-CN" />
<meta content="all" name="robots" />
<title>24款纯css翻页代码（Web2.0风格） -酷站(Cool80.Com)</title>
<link rel="stylesheet" type="text/css" href="css.css" media="all" />


</head>

<body>
 <div class="page"><a title="Total record"><b>106</b> </a><b>1</b><a href="/news/index_2.html">2</a><a href="/news/index_3.html">3</a><a href="/news/index_4.html">4</a><a href="/news/index_5.html">5</a><a href="/news/index_2.html">></a><a href="/news/index_5.html">>></a></div>

<hr/>
<div class='page1'><a title="Total record">&nbsp;<b>16</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/news/index_2.html">2</a>&nbsp;<a href="/news/index_2.html">3</a>&nbsp;<a href="/news/index_2.html">4</a>&nbsp;<a href="/news/index_2.html">5</a>&nbsp;<a href="/news/index_2.html">下一页</a>&nbsp;<a href="/news/index_2.html">尾页</a></div>

<hr/>
<div class='page2'><a title="Total record">&nbsp;<b>16</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/news/index_2.html">2</a>&nbsp;<a href="/news/index_2.html">3</a>&nbsp;<a href="/news/index_2.html">4</a>&nbsp;<a href="/news/index_2.html">5</a>&nbsp;<a href="/news/index_2.html">下一页</a>&nbsp;<a href="/news/index_2.html">尾页</a></div>

<hr/><div class='page4'><a title="Total record">&nbsp;<b>16</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/news/index_2.html">2</a>&nbsp;<a href="/news/index_2.html">3</a>&nbsp;<a href="/news/index_2.html">4</a>&nbsp;<a href="/news/index_2.html">下一页</a>&nbsp;<a href="/news/index_2.html">尾页</a></div>



<hr/><div class='page5'><a title="Total record">&nbsp;<b>16</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/news/index_2.html">2</a>&nbsp;<a href="/news/index_2.html">3</a>&nbsp;<a href="/news/index_2.html">4</a>&nbsp;<a href="/news/index_2.html">下一页</a>&nbsp;<a href="/news/index_2.html">尾页</a></div>



<hr/><div class='page3'><a title="Total record">&nbsp;<b>16</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/news/index_2.html">2</a>&nbsp;<a href="/news/index_2.html">3</a>&nbsp;<a href="/news/index_2.html">4</a>&nbsp;<a href="/news/index_2.html">下一页</a>&nbsp;<a href="/news/index_2.html">尾页</a></div>



</body>
</html>
 