<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.siyuruoli.dao.ContentMapper">

    <!--分页查询碎言碎语界面数据-->
    <select id="findDoing" parameterType="Map" resultType="ContentDO">
      SELECT BC.CID,
              BC.CONTENT,
              DATE_FORMAT(BC.GTM_CREATE, '%Y-%m-%d') GTMCREATE
      FROM BLOG_CONTENT BC
      WHERE BC.CATEGORIES='5'
      LIMIT #{pageBegin},#{pageSize}
    </select>
    <!--查询碎言碎语界面数据数量-->
    <select id="queryCount" parameterType="Map" resultType="int">
        SELECT count(*)
        FROM BLOG_CONTENT BC
        WHERE BC.CATEGORIES='5'
    </select>





    <!--查询慢生活数据数量-->
    <select id="queryLifeCount" parameterType="Map" resultType="int">
        SELECT count(*)
        FROM BLOG_CONTENT BC
        WHERE BC.CATEGORIES in ('1','2','3','4')
        <if test="type!=null and type!=''">and BC.CATEGORIES=#{type}</if>
    </select>
    <!--分页查询慢生活界面数据-->
    <select id="findLife" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
                BC.CONTENT,
                DATE_FORMAT(BC.GTM_CREATE, '%Y-%m-%d') GTMCREATE,
                BC.TITLE,
                SD.NAME TYPENAME,
                BC.AUTHOR,
                BC.INTRODUCTION,
                BC.TITLE_PICTURE TITLEPICTURE
        FROM BLOG_CONTENT BC
        left join SYS_DICT SD on SD.TYPE='blog_type' and SD.VALUE=BC.CATEGORIES
        WHERE BC.CATEGORIES in ('1','2','3','4')
        <if test="cid!=null and cid!=''">and BC.CID=#{cid}</if>
        <if test="type!=null and type!=''">and BC.CATEGORIES=#{type}</if>
        LIMIT #{pageBegin},#{pageSize}
    </select>
    <!--查询慢生活最新文章-->
    <select id="findLifeNewsDate" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
                BC.TITLE
        FROM BLOG_CONTENT BC
        WHERE BC.CATEGORIES in ('1','2','3','4')
        order by BC.GTM_MODIFIED desc
        LIMIT #{news},#{newslength}
    </select>
    <!--查询慢生活排行榜-->
    <select id="findLifeRankDate" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
                BC.TITLE
        FROM BLOG_CONTENT BC
        WHERE BC.CATEGORIES in ('1','2','3','4')
        order by BC.COMMENTS_NUM desc
        LIMIT #{rank},#{ranklength}
    </select>
    <!--查询慢生活相关文章-->
    <select id="findLifeRelateDate" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
        BC.TITLE
        FROM BLOG_CONTENT BC
        WHERE BC.CATEGORIES in ('1','2','3','4')
        and BC.CONTENT like CONCAT('%',#{gjzc},'%')
         LIMIT #{news},#{newslength}
    </select>

    <!--查询慢生活详细界面数据-->
    <select id="findlifeDetails" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
                BC.CONTENT,
                DATE_FORMAT(BC.GTM_CREATE, '%Y-%m-%d') GTMCREATE,
                BC.TITLE,
                SD.NAME TYPENAME,
                BC.AUTHOR,
                BC.GJZC,
                BC.READING
        FROM BLOG_CONTENT BC
        left join SYS_DICT SD on SD.TYPE='blog_type' and SD.VALUE=BC.CATEGORIES
        WHERE BC.CATEGORIES in ('1','2','3','4')
        <if test="cid!=null and cid!=''">and BC.CID=#{cid}</if>
        <if test="type!=null and type!=''">and BC.CATEGORIES=#{type}</if>
    </select>






    <!--分页查询模板分享界面数据-->
    <select id="findShare" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
                BC.CONTENT,
                DATE_FORMAT(BC.GTM_CREATE, '%Y-%m-%d') GTMCREATE,
                BC.TITLE,
                SD.NAME TYPENAME,
                BC.AUTHOR,
                BC.INTRODUCTION,
                BC.TITLE_PICTURE TITLEPICTURE
        FROM BLOG_CONTENT BC
        left join SYS_DICT SD on SD.TYPE='blog_type' and SD.VALUE=BC.CATEGORIES
        WHERE BC.CATEGORIES in ('6','7','8','9')
        <if test="cid!=null and cid!=''">and BC.CID=#{cid}</if>
        <if test="type!=null and type!=''">and BC.CATEGORIES=#{type}</if>
        <if test="search!=null and search!=''">and BC.TITLE LIKE #{search} </if>
        LIMIT #{pageBegin},#{pageSize}
    </select>
    <!--查询模板分享详细界面数据-->
    <select id="findShareDetails" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
                BC.CONTENT,
                DATE_FORMAT(BC.GTM_CREATE, '%Y-%m-%d') GTMCREATE,
                BC.TITLE,
                SD.NAME TYPENAME,
                BC.AUTHOR,
                BC.GJZC,
                BC.READING
        FROM BLOG_CONTENT BC
        left join SYS_DICT SD on SD.TYPE='blog_type' and SD.VALUE=BC.CATEGORIES
        WHERE BC.CATEGORIES in ('6','7','8','9')
        <if test="cid!=null and cid!=''">and BC.CID=#{cid}</if>
        <if test="type!=null and type!=''">and BC.CATEGORIES=#{type}</if>
    </select>
    <!--查询模板分享数据数量-->
    <select id="queryShareCount" parameterType="Map" resultType="int">
        SELECT count(*)
        FROM BLOG_CONTENT BC
        WHERE BC.CATEGORIES in ('6','7','8','9')
        <if test="type!=null and type!=''">and BC.CATEGORIES=#{type}</if>
        <if test="search!=null and search!=''">and BC.TITLE LIKE #{search} </if>
    </select>
    <!--查询模板分享最新文章-->
    <select id="findShareNewsDate" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
                BC.TITLE
        FROM BLOG_CONTENT BC
        WHERE BC.CATEGORIES in ('6','7','8','9')
        order by BC.GTM_MODIFIED desc
        LIMIT #{news},#{newslength}
    </select>
    <!--查询模板分享排行榜-->
    <select id="findShareRankDate" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
                BC.TITLE
        FROM BLOG_CONTENT BC
        WHERE BC.CATEGORIES in ('6','7','8','9')
        order by BC.COMMENTS_NUM desc
        LIMIT #{rank},#{ranklength}
    </select>
    <!--查询模板分享相关文章-->
    <select id="findShareRelateDate" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
                BC.TITLE
        FROM BLOG_CONTENT BC
        WHERE BC.CATEGORIES in ('6','7','8','9')
        and BC.CONTENT like CONCAT('%',#{gjzc},'%')
         LIMIT #{news},#{newslength}
    </select>




    <!--分页查询学无止境界面数据-->
    <select id="findLearn" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
                BC.CONTENT,
                DATE_FORMAT(BC.GTM_CREATE, '%Y-%m-%d') GTMCREATE,
                BC.TITLE,
                SD.NAME TYPENAME,
                BC.AUTHOR,
                BC.INTRODUCTION,
                BC.TITLE_PICTURE TITLEPICTURE
        FROM BLOG_CONTENT BC
        left join SYS_DICT SD on SD.TYPE='blog_type' and SD.VALUE=BC.CATEGORIES
        WHERE BC.CATEGORIES in ('10','11','12','13','14','15')
        <if test="cid!=null and cid!=''">and BC.CID=#{cid}</if>
        <if test="type!=null and type!=''">and BC.CATEGORIES=#{type}</if>
        <if test="search!=null and search!=''">and BC.TITLE LIKE #{search} </if>
        LIMIT #{pageBegin},#{pageSize}
    </select>
    <!--查询学无止境详细界面数据-->
    <select id="findLearnDetails" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
                BC.CONTENT,
                DATE_FORMAT(BC.GTM_CREATE, '%Y-%m-%d') GTMCREATE,
                BC.TITLE,
                SD.NAME TYPENAME,
                BC.AUTHOR,
                BC.GJZC,
                BC.READING
        FROM BLOG_CONTENT BC
        left join SYS_DICT SD on SD.TYPE='blog_type' and SD.VALUE=BC.CATEGORIES
        WHERE BC.CATEGORIES in ('10','11','12','13','14','15')
        <if test="cid!=null and cid!=''">and BC.CID=#{cid}</if>
        <if test="type!=null and type!=''">and BC.CATEGORIES=#{type}</if>
    </select>
    <!--查询学无止境数据数量-->
    <select id="queryLearnCount" parameterType="Map" resultType="int">
        SELECT count(*)
        FROM BLOG_CONTENT BC
        WHERE BC.CATEGORIES in ('10','11','12','13','14','15')
        <if test="type!=null and type!=''">and BC.CATEGORIES=#{type}</if>
        <if test="search!=null and search!=''">and BC.TITLE LIKE #{search} </if>
    </select>
    <!--查询学无止境最新文章-->
    <select id="findLearnNewsDate" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
                BC.TITLE
        FROM BLOG_CONTENT BC
        WHERE BC.CATEGORIES in ('10','11','12','13','14','15')
        order by BC.GTM_MODIFIED desc
        LIMIT #{news},#{newslength}
    </select>
    <!--查询学无止境排行榜-->
    <select id="findLearnRankDate" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
                BC.TITLE
        FROM BLOG_CONTENT BC
        WHERE BC.CATEGORIES in ('10','11','12','13','14','15')
        order by BC.COMMENTS_NUM desc
        LIMIT #{rank},#{ranklength}
    </select>
    <!--查询学无止境相关文章-->
    <select id="findLearnRelateDate" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
                BC.TITLE
        FROM BLOG_CONTENT BC
        WHERE BC.CATEGORIES in ('10','11','12','13','14','15')
        and BC.CONTENT like CONCAT('%',#{gjzc},'%')
         LIMIT #{news},#{newslength}
    </select>

    <!--查询上一篇-->
    <select id="findLifeOnDate" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
                BC.TITLE
        FROM BLOG_CONTENT BC
        WHERE 1=1
         <if test="lb==1">AND BC.CATEGORIES in ('1','2','3','4')</if>
         <if test="lb==2">AND BC.CATEGORIES in ('6','7','8','9')</if>
         <if test="lb==3">AND BC.CATEGORIES in ('10','11','12','13','14','15')</if>
        AND #{cid}>BC.CID order by BC.CID desc LIMIT 1 ;
    </select>
    <!--查询下一篇-->
    <select id="findLifeUnderDate" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT BC.CID,
                BC.TITLE
        FROM BLOG_CONTENT BC
        WHERE 1=1
        <if test="lb==1">AND BC.CATEGORIES in ('1','2','3','4')</if>
        <if test="lb==2">AND BC.CATEGORIES in ('6','7','8','9')</if>
        <if test="lb==3">AND BC.CATEGORIES in ('10','11','12','13','14','15')</if>
        AND BC.CID>#{cid} order by BC.CID asc LIMIT 1 ;
    </select>

    <update id="updateClickRate" parameterType="Map">
        update BLOG_CONTENT set reading=reading+1 where cid=#{cid}
    </update>


</mapper>